.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    max-width: 270px;
    height: 2.5rem;
    background-color: black;
    color: white;
    text-transform: capitalize;
}