.swiper-slide {
    background-color: transparent !important;
  }
  
  .swiper-slide img {
    width: 100%;
    display: block;
    height: auto;
  }

.swiper-container {
    background-color: black;
  }

.swiper-button-next,
.swiper-button-prev {
    // background-color: white;
    // background-color: rgba(255, 255, 255, 0.5);
    right: 10px;
    padding: 30px;
    color: #d0d0d0 !important;
    fill: black !important;
    stroke: black !important;
}

.gallery-carousel__wrapper {
    display: block;
    width: 100%;
    height: 100vh;

    .gallery-carousel__carousel-component {
        padding-top: 4.5rem;
        
        .swiper-slide-zoomed .carousel-component__wrapper .swiper-zoom-container img {
            width: fit-content;
            cursor: zoom-out;
        }
    }

    .carousel-component__wrapper {
        overflow: hidden;
        display: grid;
        grid-template-columns: 70% 1fr;
    }

    .carousel-component__wrapper-fullscreen {
        overflow: hidden;
        display: block;
        // grid-template-columns: 70% 1fr;
    }
    
    .carousel-component__item {
        position: relative;
        height: 80vh;
        width: 100%;
        cursor: zoom-in;
        
        .carousel-component__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .carousel-header {
        position: fixed;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        z-index: 20;
    }
    
    .carousel-info {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 10rem;
        // margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// MOBILE
.gallery-carousel__wrapper-mobile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .gallery-carousel__carousel-component-mobile {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-top: 4rem;

        .carousel-component__wrapper {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 65vh 25vh;
        }
    }

    .carousel-header-mobile {
        background-color: white;
        position: fixed;
        z-index: 20;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }

    .carousel-component__item {
        // height: 80vh;
        // width: 100%;
        position: relative;
        
        .carousel-component__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .carousel-info-mobile {
        // margin-top: 10rem;
        // margin-bottom: 4rem;
        display: flex;
        padding: 2rem;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

  
.zoom-lens {
    position: absolute;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    pointer-events: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}