.burger-menu__mobile {
    top: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 20;
    color: black;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    // margin-top: 4rem;
    margin-top: 2.7rem;
    
    a {
        font-size: 1.3rem;
    }
    
    .active {
        color: goldenrod;
    }
}

.burger-menu__mobile-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.2rem;
}